<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sonin.modules.base.mapper.BaseMapper">

    <select id="selectMap" resultType="java.util.LinkedHashMap" parameterType="java.lang.String">
        ${sqlSelect} ${ew.customSqlSegment}
    </select>

    <select id="selectMapsPage" resultType="java.util.LinkedHashMap" parameterType="java.lang.String">
        ${sqlSelect} ${ew.customSqlSegment}
    </select>

    <select id="selectMaps" resultType="java.util.LinkedHashMap" parameterType="java.lang.String">
       ${sqlSelect} ${ew.customSqlSegment}
    </select>

    <update id="update">
         update ${tableName} set ${ew.sqlSet} ${ew.customSqlSegment}
    </update>

    <delete id="delete">
         delete from ${tableName} ${ew.customSqlSegment}
    </delete>

</mapper>
